hostname: MyHost

notifications:
  -
    name: mail1
    type: mail
    host:
    port: 
    username:
    password:
    from:
    to:
  -
    name: tg
    type: telegram
    token:
    chatID:

logFiles:
  - 
    path: /tmp/test
    dateFormat:
    readBufferSize: 1Kb
    interval: 60
    filters:
      - 
        name: App error
        pattern: ERROR
        exceptions:
          -
            ExceptMe
        message: "🔴 %hostname: %name (%count)\n\n%text"
        subject: "🔴 %hostname: %name"
        notifications: [mail1, tg]
      - 
        name: App warning
        pattern: WARN
        message: "🟡 %hostname: %name (%count)\n\n%text"
        notifications: [tg]
      - 
        name: App info
        pattern: INFO
        message: "🔵 %hostname: %name (%count)\n\n%text"
        notifications: [tg]
  - 
    path: /tmp/test2
    dateFormat:
    readBufferSize: 1Kb
    interval: 60
    filters:
      - 
        name: App error2
        pattern: ERROR
        message: "🔴 %hostname: %name (%count)\n\n%text"
        subject: "🔴 %hostname: %name"
        notifications: [mail1, tg]
