hostname: MyHost

notifications:
  -
    name: mail1
    type: mail
    host:
    port: 
    username:
    password:
    from:
    to:
  -
    name: tg
    type: telegram
    token:
    chatID:

filters:
  -
    name: Error
    pattern: ERROR
    exceptions:
      -
        ExcludeMe
    message: "🔴 %hostname: %filename (%count)\n%text"
    subject: "🔴 %hostname: %filename"
    notifications: [mail_kubetech, tg]
  - 
    name: Warning
    pattern: WARN
    message: "🟡 %hostname: %filename (%count)\n%text"
    notifications: [tg]
  - 
    name: Info
    pattern: INFO
    message: "🔵 %hostname: %filename (%count)\n%text"
    notifications: [tg]

files:
  - 
    name: test
    path: /tmp/test
    dateFormat:
    readBufferSize: 1Kb
    interval: 60
    filters: [Error, Warning, Info]
  - 
    path: /tmp/test2
    dateFormat:
    readBufferSize: 1Kb
    interval: 60
    filters: [Error]
